version: "3.9"
services:
  flask:
    build: .
    container_name: flask
    ports:
      - "5000:5000"
    depends_on:
      - redis
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - flask
