services:
  flask_app:
    build: .
    container_name: flask_app
    ports:
      - "5000:5000"
    command: sh -c "python init_db.py && exec gunicorn -w 2 -b 0.0.0.0:5000 run:app"
    depends_on:
      - redis



  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  nginx_app:
    image: nginx
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports:
      - "80:80"
    depends_on:
      - flask_app
